.app {
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}
